/* Contenedor general */
.public-navbar {
  width: 100%;
  height: 60px;
}

/* Estructura */
.navbar-container {
  position: fixed;
  margin: auto;
  padding: 14px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-family: "Inter", sans-serif;
  background: #1e3a8a; /* MISMO azul */
}

/* Título simple */
.navbar-title a {
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
}

/* Lista */
.navbar-links {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

/* Links */
.navbar-links a {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 8px;
  transition: background 0.2s ease;
}


.navbar-links a:hover {
  background: rgba(255, 255, 255, 0.2);
}

/* Activo */
.navbar-links a.active {
  background: #2563eb;
}

.navbar-links button {
  background: #1e3a8a;
  color: #ffffff;
  border: none;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.2s ease;
  font-weight: 500;
  font-weight: bold;
}

.navbar-links button:hover {
  background: #1d4ed8;
}


/* Botón menú (mobile) */
.menu-btn {
  display: none;
  color: #ffffff;
  font-size: 22px;
  cursor: pointer;
}

/* Checkbox oculto */
#menu-toggle {
  display: none;
}

/* ===== RESPONSIVE ===== */
@media (max-width: 768px) {

  .menu-btn {
    display: block;
  }

  .navbar-links {
    position: absolute;
    
    top: 60px;
    right: 5px;
    width: 200px;
    background: #1e3a8a;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    padding: 12px 0;
    display: none;
  }

  #menu-toggle:checked + .menu-btn + .navbar-links {
    display: flex;
  }
}