<nav class="public-navbar">
  <div class="navbar-container">

    <span class="navbar-title"><a routerLink="">JCars</a></span>

    <!-- Toggle mobile -->
    <input type="checkbox" id="menu-toggle">
    <label for="menu-toggle" class="menu-btn">
      ☰
    </label>

    <ul class="navbar-links">
        <li><a routerLink="/cars">Cars</a></li>
        <li><a routerLink="/new-car">New Car</a></li>
        <li><a routerLink="/order">Order</a></li>
        <li><button (click)="logout()">Logout</button></li>
    </ul>
    </div>
</nav>
