.loading {
  text-align: center;
  margin-top: 40px;
  font-size: 24px;
  color: #0a3d62;
}

.orders-container {
  max-width: 1100px;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  gap: 22px;
  padding: 20px;
}

.order-card {
  display: flex;
  gap: 20px;
  background: #ffffff;
  padding: 18px;
  border-radius: 14px;
  box-shadow: 0 4px 14px rgba(0,0,0,0.1);
  align-items: center;
  transition: transform 0.15s, box-shadow 0.15s;
}

.order-card:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 18px rgba(0,0,0,0.15);
}

.order-image img {
  width: 150px;
  height: 100px;
  object-fit: cover;
  border-radius: 12px;
  border: 1px solid #dcdcdc;
}

.order-info {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 10px;
}

.order-row {
  display: flex;
  gap: 20px;
  width: 49%;
  padding: 5px 0;
}

.label {
  font-weight: 600;
  color: #0a3d62;
}

.status {
  font-weight: 600;
  color: #27ae60;
}

.order-actions {
  margin-top: 15px;
  width: 100%;
  justify-content: flex-end;
}

.order-button {
  width: 100%;
  padding: 10px;
  background: #2563eb;
  color: #fff;
  font-size: 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.2s ease;
}

.order-button:hover {
  background: #1d4ed8;
}




// RESPONSIVE

@media (max-width: 768px) {
  .order-card {
    flex-direction: column;
    align-items: flex-start;
  }

  .order-image{
    text-align: center;
  }

  .order-image img {
    width: 80%;
    height: auto;
  }

  .order-info {
    justify-content: center;
  }

  .order-row {
    width: 80%;
  }

  .order-actions {
    justify-content: center;
    align-items: center;
  }

  .order-button {
    width: 80%;
  }
}


@media (max-width: 480px) {
  .orders-container {
    padding: 10px;
  }

  .order-card {
    padding: 5px;
  }

  .order-row {
    width: 90%;
    gap: 10px;
  }

  .order-image img {
    width: 90%;
  }
}
