
@if (orders().length === 0) {
  <h2 class="loading">Loading orders...</h2>
}
@else {

  <div class="filter-container">
    <label for="status-filter">Filter by status:</label>
    <select id="status-filter" (change)="onStatusFilterChange($event)">
      <option value="0">All</option>
      <option value="1">Completed</option>
      <option value="2">In process</option>
      <option value="3">Canceled</option>
      <option value="4">Unpaid</option>
    </select>
  </div>

  <div class="orders-container">

    @for (order of orders()!; track order.id) {
      @if(order.status == statusFilter() || statusFilter() == 0){

      <div class="order-card">

        <div class="order-image">
          <img [src]="order.image" alt="">
        </div>

        <div class="order-info">

          <div class="order-row">
            <span class="label">Car name:</span>
            <span>{{ order.name }}</span>
          </div>

          <div class="order-row">
            <span class="label">Date:</span>
            <span>{{ order.date }}</span>
          </div>

          <div class="order-row">
            <span class="label">Address:</span>
            <span>{{ order.address }}</span>
          </div>

          <div class="order-row">
            <span class="label">Phone:</span>
            <span>{{ order.phone }}</span>
          </div>

          <div class="order-row">
            <span class="label">Status:</span>
            <span class="status">{{ order.status == 1 ? 'Completed' : order.status == 2 ? 'In process' : order.status == 3 ? 'Canceled' : 'Unpaid'}}</span>
          </div>

          <div class="order-row">
            <span class="label">Price:</span>
            <span>${{ order.price }}</span>
          </div>

          <div class="order-actions">
          @if (order.status == 4) {
            <button (click)="goToPayment(order.id!)" class="order-button">Proceed to Payment</button>
          }
        </div>

        </div>

        

      </div>
      }

    }

  </div>
}

